<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <add name="myListener"  type="System.Diagnostics.TextWriterTraceListener"    initializeData="id3tag.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>